// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$light: #F4D97E;
$medium: #3f3625;
$dark: #0e0907;
$off-white: #FFF8F8;
