.feed-page{
  background-color: $off-white;
}

.latest {
  height: 100vh;
  width: 100%;
  background-color: #180f0c;
  h2 {
    font-size: 4rem;
    color: $off-white;
    padding: 1rem 5rem;
  }
}


.search-nav {
  background-color: red;
  height: 200px;
}
