// Specific CSS for your home-page
.home-page{
  height: 100vh;
}

#myVideo {
    position: fixed;
    left: 0;
    // transform: rotate(90deg);
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.container {
  display: flex;
  justify-content: center;
  // background-color: $dark;
}

.home-container{
  width: 100%;
  max-width: 500px;
  padding: 1rem 1.75rem;
  margin-top: 5em;
  background-color: white;
}

.home-header {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}

.home-text {
  text-align: center;
  font-size: 35px;
  font-weight: lighter;
  padding: 1em;
  margin-top: 3em;
}
.home-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


// Desktop
@media(min-width: 45px) {


  .home-container {
    background-color: $light;
    max-width: 425px;
    border-radius: 25px;
    height: 590px;
  }
  .home-text {
    padding: 2em;
    margin-top: 1em;
    font-size: 36px;
  }
  .home-header {
    margin-top: 1em;
  }
  .button-form {
    height: 40px;
  }
}

a {
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: inherit;
}
