@media only screen and (min-device-width: 1024px) {
  .r-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .registration-container {
    margin-top: 7em;
    border-radius: 25px;
    background-color: white;
    display: flex;
    color: $medium;
  }
  .r-form {
    padding: 3rem;
    .r-input {
      margin: 0.5em;
      border-radius: 6px;
    }
    .r-input2 {
      height: 6em;
    }
  }
  .r-image {
    background-image:linear-gradient(#0000005d, #00000054),
    url('https://images.squarespace-cdn.com/content/v1/579795f08419c2baffd75e74/1604180669193-0O01B9QEOMX037O1NC8A/Harvestandmillcottonbalewebready.jpg?format=2500w');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 65vh;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}

@media only screen and (max-device-width: 480px) {
  .r-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .registration-container {
    margin-top: 3em;
    border-radius: 25px;
    background-color: white;
    display: flex;
  }
  .r-form {
    padding: 3rem;
    .r-input {
      margin: 0.5em;
      border-radius: 6px;
    }
    .r-input2 {
      height: 6em;
    }
  }

}
