<div class="footer">
  <a href="<%= brands_path  %>"><i class="fas fa-search"></i></a>
  <a href="<%= root_path  %>"><i class="fas fa-home"></i></a>
  <a href="<%= dashboard_path  %>"><i class="fas fa-user-alt"></i></a>


</div>
