<h1><%= current_user.id %></h1>
<% @brands.each do |brand| %>
  <div class="brand">
    <%= link_to brand.brand_name, brand_path(brand) %>
  </div>
<% end %>
<%= link_to 'Log out', destroy_user_session_path, method: :delete %>
