<div class="feed-page">
  <div class="latest">
    <h2>LATEST</h2>
    <div class='img-container'>
      <div id="first"></div>
      <div id="second"></div>
      <div id="third"></div>
      <div id="fourth"></div>
    </div>
  </div>
    <div class="search-nav"></div>
  <div class='brands-container'>
    <% @brands.each do |brand| %>
      <div class="brand-card">
        <%= link_to brand.brand_name, brand_path(brand) %>
      </div>
    <% end %>
  </div>
</div>
