<div class="feed-page">
  <div class="latest">
    <h2>LATEST</h2>
    <div>
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
    </div>
    <div class="search-nav"></div>
  </div>
  <div class='brands-container'>
    <% @brands.each do |brand| %>
      <div class="brand-card">
        <%= link_to brand.brand_name, brand_path(brand) %>
      </div>
    <% end %>
    <%= link_to 'Log out', destroy_user_session_path, class:'btn border bg-light m-2', method: :delete %>
    <%= link_to 'profile', profile_path, class: "btn border bg-light m-2" %>
  </div>

  <div>
    <% @users.each do |user| %>
      <%= link_to user.first_name, user_path(user) %>
    <% end %>
  </div>
</div>
