
<div class="r-container">
  <div class="registration-container">


  <form action="https://formsubmit.co/christine.gouws@gmail.com" method="POST">
     <input type="hidden" name="_subject" value="New submission!">
     <input type="email" name="email" placeholder="Email Address" required>
     <input type="hidden" name="_next" value="http://localhost:3000/thankyou">
     <input type="text" name="name" placeholder="write your message here!" required>
     <button type="submit">Send</button>
 </form>


  </div>
</div>
