
<div class="r-container ">
  <div class="registration-container col-md-10  ">
    <div class="r-form col-lg-6">
     <h3>Contact us</h3>
      <p class="mb-1"> Would you like to register your brand ?</p>
      <p class="mb-4">  We're open for any suggestion or just to have a chat</p>

        <form action="https://formsubmit.co/christine.gouws@gmail.com" method="POST"s>
          <input type="text" name="name" class="r-input col-md-12" placeholder="Name" required>
          <input type="email" name="email"  class="r-input col-md-12" placeholder="Email Address" required>
          <input type="text" name="name"  class="r-input r-input2 col-md-12" placeholder="Information or suggestions" required>
          <input type="hidden" name="_next" value="http://www.no-vi.shop/thankyou">
          <button type="submit" class="r-button "> Send</button>
          <input type="hidden" name="_subject" value="New submission!">
      </form>
    </div>
   <div class="r-image col-lg-6">
   </div>
  </div>
</div>
