<div class="r-container ">
  <div class="registration-container col-md-10  ">
    <div class="r-form col-lg-6">
     <h3 class="mb-4">Thankyou for your message.</h3>
     <h5 class="mb-5">We will respond to you as soon as we can.</h5>
     <%= link_to "Return", feed_path, class:'button-form' %>
    </div>
   <div class="r-image col-lg-6 d-none d-sm-block">
   </div>
  </div>
</div>
