 .button-form  {
  font-size: 1rem;
  padding: 0.5em;
  height: 100%;
  width: 50%;
  font-weight: 400;
  border-radius: 35px;
  background-color: $dark;
  color: #FFF;
  margin: 2px auto;
  text-align: center;

  &:focus {
    outline: 0;
  }
  a:hover {
    text-decoration: none;
  }
}
