// Desktop
@media only screen and (min-device-width: 1024px) {
.brand-card{
  // background-size: cover;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  width: 200px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-size: 70%;
  object-fit: cover;
}

.user-card{
  // background-size: cover;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.brands-container-full{
  height: 85vh;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0 15vw;
  margin: 0 auto;
  background-size: cover;

}
.brands-container-mobile{
  display: none;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: $off-white;
  height: 200px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #180f0c;
  border-radius: 50px;
  height: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
}

// Tablet
@media only screen and (max-device-width: 1024px) {

  body::-webkit-scrollbar {
  display: none;
}
  .brand-card{
  background-color: $light;
  height: 200px;
  width: 200px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.brands-container-full{
  height: 82vh;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0 15vw;
  margin: 0 auto;

}
.brands-container-mobile{
  display: none;
}

}

// Mobile
@media only screen and (max-device-width: 480px) {

  body::-webkit-scrollbar {
  display: none;
}
.brand-card{
  background-size: cover;
  background-repeat: no-repeat;
  height: 120px;
  width: 95vw;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  a{
    width: 180px;
    text-align: center;
  }
  .info{
    flex-grow: 1;
    padding: 1em;
  }

  h2{
    padding-top: 1rem;
    font-size: 1.5rem;
    color: $dark;
  }

  p{
    color: grey;
  }
  .brand__img{
    object-fit: contain;
    background-size: cover;
    width: 120px;
    height: 120px;
    border-radius: 5px;
    background-color: white;
  }
}

.user-card{
  // background-size: cover;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body {
  background-color: $off-white;
}

.brands-container-mobile{
  height: fit-content;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: $off-white;
  padding: 0 6vw;
  margin: 0 auto;
  padding-bottom: 7vh;

}
.brands-container-full{
  display: none;
}


}
