.home-page{
  height: 100vh;
}

a:hover {
  color: darkblue;
}

#myVideo {
    position: fixed;
    left: 0;
    // transform: rotate(90deg);
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.form-header {
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  padding-top: 1em;
}

.card {
  width: 100%;
  max-width: 500px;
  background-color: rgba(216, 211, 198, 0.733);
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, .25);
  padding: 1rem 1.75rem;
  margin-top: 1em;
}

.form-actions {
  display:flex;
  border: 0;
}

.card-form {
  padding: 2rem 1rem 0;
}


.form-control {
  border: 2px solid #eee;
  background-color: rgb(255, 255, 255);
  border-radius: 35px;
   height: 6vh;
}

.form-inputs {
  margin: 30px 10px 30px 10px;
}

.form-control-file {
  border-radius: 6px;
  color: #FFF;
  border: 0;
}

abbr {
  display: none;
}
