// Desktop
@media only screen and(min-device-width: 1024px) {

#file-input {
  display: none;
}

.novi-title{
  font-weight: bolder;
  margin-bottom: 0;
}

.cam {
  display: none;
}

.about{
  color: $dark;
}
.about:hover{
  text-shadow: 2px 2px 4px #0000005e;

}


.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  background: $off-white;
  height: 8vh;
  position: sticky;
  width: 100%;
  top: 0;
  padding: 0 108px;
  z-index: 99;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  display: flex;
}
.navbar-lewagon .navbar-brand img {
  object-fit: cover;
  width: 40px;
}

.nav-link {
  text-decoration: underline;
  color: $light;
    a {
      color: $light;
      text-decoration: none;
    }

    :hover {
      color: #f75e59;
      text-decoration: none;
    }
}

.dropdown {
  position: relative;
  display: block;
  line-height: 3rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;

  background-color: $off-white;
  border-radius: 5px;
  min-width: 270px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.26);
  padding: 20px 80px;
  color: $light;
  text-align: center;

   a{
     margin: 50px auto;
     color: $dark;
     padding: 0 20px;
     text-decoration: none;
     border-bottom: 1px solid $dark;
   }

   :hover {
     color: $medium;
     text-decoration: none;
   }
}

.dropdown:hover .dropdown-content {
  display: block;
}

ul.dropdown-content {
  list-style-type: none;
  text-align: center;
}


}


// Mobile
@media only screen and(max-device-width: 480px) {

*{
  padding:0;
  margin: 0;
}
.novi-title{
  font-weight: bold;
  font-size: 1.5rem;
  color: $off-white;
}

.navbar-brand{
  padding: 0;

}

.cam{
  display: block;
  color: $off-white;
  font-size: 1.8rem;
  margin-bottom: 0.5em;
  position: absolute;
  top: 1.5vh;
  left: 87vw;
}

#file-input {
  display: none;
}

.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  background: $dark;
  height: 8vh;
  position: sticky;
  width: 100%;
  top: 0;
  padding: 10px;
  z-index: 99;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.collapse:not(.show){
  display: block;
  width: 4rem;
}

.navbar-nav{
  display: none;
}
}
